h1{
    font-family: 'Agdasima', sans-serif;
    text-align: center;
    font-size: 70px;
    text-decoration: underline;
    
}

h2, h3{
    font-family: 'Agdasima', sans-serif;
    text-align: left;
    font-size: 30px;

}

body {
    background: rgb(29,143,253);
    background: linear-gradient(90deg, rgba(29,143,253,1) 0%, rgba(255,255,255,1) 25%, rgba(255,255,255,1) 75%, rgba(29,143,253,1) 100%);
}  


ul,li,p{
    font-family:'Cedarville Cursive', cursive;
    font-size: 27px;
    
    align-items: center;
}

#text-list{
    text-align: left;
}

img{
    border-radius: 7px;
    padding: 4px 4px;
    border-radius: 10px;
    border: 10px;
    background-color:lightskyblue;    
}

a.button.left{
    border-radius: 7px;
    padding: 10px;
    border-radius: 15px;
    border: 3px;
    border-color: rgb(55, 107, 252);
    border-style: solid;
    background-color:rgba(0, 22, 145, 0.1);
    font-family: 'Agdasima', sans-serif;
    font-weight: 700;
    font-size: 20px;
    position: fixed;
    bottom: 5px;
    right: 180px;

}

a.button.right{
    border-radius: 7px;
    padding: 10px;
    border-radius: 15px;
    border: 3px;
    border-color: rgb(55, 107, 252);
    border-style: solid;
    background-color:rgba(0, 22, 145, 0.1);
    font-family: 'Agdasima', sans-serif;
    font-weight: 700;
    font-size: 20px;
    position: fixed;
    bottom: 5px;
    right: 5px;
    
}   



