body {
    background: rgb(29,143,253);
    background: linear-gradient(90deg, rgba(29,143,253,1) 0%, rgba(255,255,255,1) 25%, rgba(255,255,255,1) 75%, rgba(29,143,253,1) 100%);
}  

h1 {
    text-align: center;
    font-weight: 700;
    font-size: 100px;
    font-family: 'Agdasima', sans-serif; 
    
}

h2 {
    position: absolute;
    top: 160px;
    right: 550px;
    font-weight: 700;
    font-size: 40px;
    font-family: 'Agdasima', sans-serif;
}

p {
    font-family:'Cedarville Cursive', cursive;
    position: absolute;
    top: 480px;
    right: 380px;
    font-size: 22px;
    
    
}
img{    
    border-radius: 7px;
    
}

#img-flag{
    position: absolute;
    top: 250px;
    right:440px;
    opacity: 0.6;
}

#button-right{
    position: absolute;
    bottom: 50px;
    right: 100px;
    padding: 4px 4px;
    border-radius: 10px;
    border: 10px;
    background-color:lightskyblue;
    
}

#button-center{
    position: absolute;
    bottom: 50px;
    right: 490px;
    padding: 4px 4px;
    border-radius: 10px;
    border: 10px;
    background-color:lightskyblue;
    
}

#button-left{
    position: absolute;
    bottom: 50px;
    left: 100px;
    padding: 3px 4px;
    border-radius: 10px;
    border: 10px;
    background-color:lightskyblue;
    
}

#empanadas-title{
    font-family: 'Agdasima', sans-serif;
    font-size: 23px;
    position: absolute;
    bottom: 250px;   
    right: 210px;

}

#fugazzeta-title{
    font-family: 'Agdasima', sans-serif;
    font-size: 23px;
    position: absolute;
    bottom: 250px;    
    left: 210px;

}

#milanesa-title{
    font-family: 'Agdasima', sans-serif;
    font-size: 23px;
    position: absolute;
    bottom: 250px;   
    right: 580px;

}

